{% extends "base.html" %}

{% block content %}
<div class="card small-card form-card">
  <h2>회원가입</h2>

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-row">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}
            <span class="required-text">*필수</span>
          {% endif %}
        </label>

        {{ field }}

        {% if field.help_text %}
          <small class="help-text">{{ field.help_text }}</small>
        {% endif %}

        {% if field.errors %}
          <span class="error-text">{{ field.errors }}</span>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn full-btn">회원가입</button>
  </form>
</div>
{% endblock %}